In [2]:
import pickle
import pandas as pd

### With Site Features
Input Size = 12 (All satellite features : VIs, log time delta, cosine-transformed DOY)

Hidden Size = 16

Number of RNN layers = 1

Site Features = 4 (All site features : Age, Density, Type)

Epochs = 20

Learning Rate = 0.01

Validation Loss : 200-300

#### LSTM

In [60]:
metrics = []
for threshold in [50.0, 60.0, 70.0]:
    with open(f'../results/eval_LSTM_{threshold}_site_feats.pkl', 'rb') as f:
        data = pickle.load(f)
        metrics.append(data['error_metrics_overall'])
df = pd.DataFrame(metrics, index=['50%', '60%', '70%'])
display(df)
print('Threshold :', threshold, '%')
display(data['conf_matrix_overall'])
display(data['error_metrics_age'].set_index('Age'))

     F1 Score  F2 Score  Precision  Recall  Accuracy  % Low Risk  % High Risk
50%     0.000     0.000      0.000   0.000     0.950         5.0         95.0
60%     0.000     0.000      0.000   0.000     0.915         8.5         91.5
70%     0.085     0.067      0.156   0.059     0.777        17.7         82.3

Threshold : 70.0 %

           Predicted Low  Predicted High
True Low             260            4178
True High           1405           19205

,F1 Score,F2 Score,Precision,Recall,Accuracy,% Low Risk,% High Risk,Number of Records
Age,,,,,,,,
1,0.101,0.107,0.093,0.111,0.854,7.4,92.6,6834
2,0.076,0.069,0.092,0.065,0.834,10.6,89.4,7845
3,0.0,0.0,0.0,0.0,0.587,38.5,61.5,143
4,0.0,0.0,0.0,0.0,0.052,94.8,5.2,192
5,0.093,0.066,0.318,0.055,0.705,27.7,72.3,9900
6,0.0,0.0,0.0,0.0,0.048,95.2,4.8,63
7,0.0,0.0,0.0,0.0,0.085,91.5,8.5,71

#### GRU

In [61]:
metrics = []
for threshold in [50.0, 60.0, 70.0]:
    with open(f'../results/eval_GRU_{threshold}_site_feats.pkl', 'rb') as f:
        data = pickle.load(f)
        metrics.append(data['error_metrics_overall'])
df = pd.DataFrame(metrics, index=['50%', '60%', '70%'])
display(df)
print('Threshold :', threshold, '%')
display(data['conf_matrix_overall'])
display(data['error_metrics_age'].set_index('Age'))

     F1 Score  F2 Score  Precision  Recall  Accuracy  % Low Risk  % High Risk
50%     0.000     0.000      0.000   0.000     0.950         5.0         95.0
60%     0.000     0.000      0.000   0.000     0.915         8.5         91.5
70%     0.047     0.033      0.181   0.027     0.806        17.7         82.3

Threshold : 70.0 %

           Predicted Low  Predicted High
True Low             121            4317
True High            547           20063

,F1 Score,F2 Score,Precision,Recall,Accuracy,% Low Risk,% High Risk,Number of Records
Age,,,,,,,,
1,0.052,0.041,0.096,0.036,0.904,7.4,92.6,6834
2,0.075,0.057,0.158,0.05,0.872,10.6,89.4,7845
3,0.034,0.022,0.333,0.018,0.608,38.5,61.5,143
4,0.022,0.014,0.667,0.011,0.057,94.8,5.2,192
5,0.04,0.026,0.276,0.022,0.713,27.7,72.3,9900
6,0.0,0.0,0.0,0.0,0.048,95.2,4.8,63
7,0.0,0.0,0.0,0.0,0.085,91.5,8.5,71

### No Site Features
Input Size = 12 (All satellite features: log time delta, cosine-transformed DOY)

Hidden Size = 16

Number of RNN layers = 1

Epochs = 20

Learning Rate = 0.01

Validation Loss : 200-300

#### LSTM

In [56]:
metrics = []
for threshold in [50.0, 60.0, 70.0]:
    with open(f'../results/eval_LSTM_{threshold}_no_site_feats.pkl', 'rb') as f:
        data = pickle.load(f)
        metrics.append(data['error_metrics_overall'])
df = pd.DataFrame(metrics, index=['50%', '60%', '70%'])
display(df)
print('Threshold :', threshold, '%')
display(data['conf_matrix_overall'])
display(data['error_metrics_age'].set_index('Age'))

     F1 Score  F2 Score  Precision  Recall  Accuracy  % Low Risk  % High Risk
50%     0.000     0.000      0.000   0.000     0.950         5.0         95.0
60%     0.000     0.000      0.000   0.000     0.915         8.5         91.5
70%     0.069     0.051      0.168   0.043     0.792        17.7         82.3

Threshold : 70.0 %

           Predicted Low  Predicted High
True Low             193            4245
True High            954           19656

,F1 Score,F2 Score,Precision,Recall,Accuracy,% Low Risk,% High Risk,Number of Records
Age,,,,,,,,
1,0.052,0.048,0.06,0.046,0.877,7.4,92.6,6834
2,0.066,0.052,0.12,0.046,0.864,10.6,89.4,7845
3,0.095,0.066,0.375,0.055,0.601,38.5,61.5,143
4,0.233,0.16,1.0,0.132,0.177,94.8,5.2,192
5,0.066,0.046,0.251,0.038,0.702,27.7,72.3,9900
6,0.033,0.021,1.0,0.017,0.063,95.2,4.8,63
7,0.0,0.0,0.0,0.0,0.085,91.5,8.5,71

#### GRU

In [57]:
metrics = []
for threshold in [50.0, 60.0, 70.0]:
    with open(f'../results/eval_GRU_{threshold}_no_site_feats.pkl', 'rb') as f:
        data = pickle.load(f)
        metrics.append(data['error_metrics_overall'])
df = pd.DataFrame(metrics, index=['50%', '60%', '70%'])
display(df)
print('Threshold :', threshold, '%')
display(data['conf_matrix_overall'])
display(data['error_metrics_age'].set_index('Age'))

     F1 Score  F2 Score  Precision  Recall  Accuracy  % Low Risk  % High Risk
50%     0.000      0.00      0.000   0.000     0.950         5.0         95.0
60%     0.000      0.00      0.000   0.000     0.915         8.5         91.5
70%     0.139      0.11      0.248   0.097     0.788        17.7         82.3

Threshold : 70.0 %

           Predicted Low  Predicted High
True Low             429            4009
True High           1299           19311

,F1 Score,F2 Score,Precision,Recall,Accuracy,% Low Risk,% High Risk,Number of Records
Age,,,,,,,,
1,0.032,0.023,0.077,0.02,0.91,7.4,92.6,6834
2,0.076,0.061,0.126,0.054,0.861,10.6,89.4,7845
3,0.097,0.066,0.429,0.055,0.608,38.5,61.5,143
4,0.224,0.153,1.0,0.126,0.172,94.8,5.2,192
5,0.167,0.135,0.276,0.12,0.669,27.7,72.3,9900
6,0.209,0.142,1.0,0.117,0.159,95.2,4.8,63
7,0.312,0.221,1.0,0.185,0.254,91.5,8.5,71

## Summary

- Overall performance : Bad, f1 score < 0.1
- Ways to improve performance:
    1. More RNN layers
    2. Larger hidden size
    3. Tuning learning rate
    4. Feature selection